/*fonts*/
@font-face {
  font-family: neurial-bold;
  src: url(fonts/NeurialGrotesk-Bold.otf) format("truetype"); }
@font-face {
  font-family: neurial-bold-italic;
  src: url(fonts/NeurialGrotesk-BoldItalic.otf) format("truetype"); }
@font-face {
  font-family: neurial-regular;
  src: url(fonts/NeurialGrotesk-Regular.otf) format("truetype"); }
@font-face {
  font-family: neurial-extra-bold;
  src: url(fonts/NeurialGrotesk-Extrabold.otf) format("truetype"); }
@font-face {
  font-family: neurial-extra-bold-italic;
  src: url(fonts/NeurialGrotesk-ExtraboldItalic.otf) format("truetype"); }
@font-face {
  font-family: neurial-italic;
  src: url(fonts/NeurialGrotesk-Italic.otf) format("truetype"); }
@font-face {
  font-family: neurial-medium;
  src: url(fonts/NeurialGrotesk-Medium.otf) format("truetype"); }
@font-face {
  font-family: neurial-medium-italic;
  src: url(fonts/NeurialGrotesk-MediumItalic.otf) format("truetype"); }
body {
  font-family: neurial-regular;
  color: #212229;
  background-color: #f4f5fb; }

.navbar-expand-md .navbar-nav a.nav-link {
  font-family: neurial-regular;
  font-weight: 700;
  letter-spacing: 1px; }
  .navbar-expand-md .navbar-nav a.nav-link.try-free {
    padding-left: 1rem;
    padding-right: 1rem; }

a {
  color: #212229; }
  a.try-free {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #4a44bb;
    color: #df52a4;
    padding: 0.35rem 1rem;
    margin-left: 20px;
    /* border-image: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
     border-image-slice: 1;
     border-width: 3px;
     display: block;*/ }

.button.gradient {
  background: #bb85fc;
  background: -moz-linear-gradient(left, #bb85fc 0%, #6475ec 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #bb85fc), color-stop(100%, #6475ec));
  background: -webkit-linear-gradient(left, #bb85fc 0%, #6475ec 100%);
  background: -o-linear-gradient(left, #bb85fc 0%, #6475ec 100%);
  background: -ms-linear-gradient(left, #bb85fc 0%, #6475ec 100%);
  background: linear-gradient(to right, #bb85fc 0%, #6475ec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb85fc', endColorstr='#6475ec', GradientType=1 ); }

h2 {
  white-space: pre-line; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

a.get-started {
  display: flex;
  justify-content: space-between;
  width: 200px;
  color: #fff;
  -webkit-box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  padding: 0.75rem 1rem; }
  a.get-started label {
    margin-bottom: 0;
    cursor: pointer; }
  a.get-started img {
    align-self: center; }
  a.get-started:hover {
    color: #fff; }
  a.get-started img {
    width: 31px;
    height: 10px; }

section {
  background-repeat: no-repeat; }
  section.header {
    background-image: url(../images/1st_Header/header_bg.png);
    background-position: bottom center;
    background-size: 100%; }
    section.header .banner {
      padding-top: 50px; }
      section.header .banner h1 {
        text-transform: capitalize;
        white-space: pre-line;
        font-family: neurial-bold;
        font-size: 2rem; }
        section.header .banner h1 span.highlighted {
          color: #7369ff; }
      section.header .banner img.features {
        max-width: 100%;
        height: auto;
        margin-top: 2rem; }
      section.header .banner .banner-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 300px; }
        section.header .banner .banner-description p {
          font-size: 1.05rem;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          color: #5c6384; }
  section.we-are-live {
    background-image: url(../images/2nd_segment/laptop_asset.png);
    background-position: -20% -0%;
    margin-top: -115px;
    padding-bottom: 372px; }
    section.we-are-live h2 {
      padding-top: 245px; }
    section.we-are-live p {
      white-space: pre-line; }
    section.we-are-live .mini-stats {
      display: flex;
      justify-content: flex-start; }
      section.we-are-live .mini-stats .no-of-companies {
        margin-right: 19px;
        color: #7369ff; }
      section.we-are-live .mini-stats span {
        font-size: 1.75rem;
        display: block; }
      section.we-are-live .mini-stats label {
        display: block;
        margin-top: -5px; }
      section.we-are-live .mini-stats .no-of-recruits {
        color: #be6ce1; }
  section.why-need-brac-jobs .row {
    margin-right: -5px;
    margin-left: -5px; }
    section.why-need-brac-jobs .row .col-lg-3 {
      padding-right: 5px;
      padding-left: 5px; }
  section.why-need-brac-jobs h2 span {
    color: #be6ce1; }
  section.why-need-brac-jobs p {
    white-space: pre-line;
    color: #5c6384;
    margin-bottom: 40px; }
  section.why-need-brac-jobs .block {
    background-color: #eeeef1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    height: 235px; }
    section.why-need-brac-jobs .block h3 {
      font-size: 1.15rem;
      white-space: pre-line; }
  section.key-features-for-hiring {
    background-image: url(../images/4th_segment/Key_feature_bg.png);
    background-position: right 150px;
    background-size: 100%; }
    section.key-features-for-hiring .various-jobs img {
      width: 100%;
      height: auto; }
    section.key-features-for-hiring h2 {
      text-align: center;
      margin-top: 150px;
      font-weight: bold;
      margin-bottom: 15px; }
    section.key-features-for-hiring .content {
      background-color: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
      section.key-features-for-hiring .content ul.navigation {
        text-align: left; }
        section.key-features-for-hiring .content ul.navigation li {
          background-position: left top;
          padding-left: 100px;
          background-repeat: no-repeat; }
        section.key-features-for-hiring .content ul.navigation li.collaborate {
          background-image: url("../images/4th_segment/main_copy_7.png"); }
        section.key-features-for-hiring .content ul.navigation li.insightful {
          background-image: url("../images/4th_segment/main_copy_2.png"); }
        section.key-features-for-hiring .content ul.navigation li.instant-notifications {
          background-image: url("../images/4th_segment/main.png"); }
    section.key-features-for-hiring ul {
      text-align: center; }
      section.key-features-for-hiring ul li {
        list-style: none;
        display: inline-block; }
        section.key-features-for-hiring ul li a {
          display: block;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          padding: 8px 40px;
          font-weight: bold;
          color: #5c6384;
          margin: 15px 10px 0 10px; }
          section.key-features-for-hiring ul li a:hover, section.key-features-for-hiring ul li a.active {
            background-color: #f4f5fb;
            color: #7369ff; }
  section.testimony {
    background-image: url(../images/5th_segment_testimonals/photobar_m.png);
    background-position: bottom center;
    background-size: 100%;
    padding: 150px; }
  section.see-demo {
    background-image: url(../images/5th_segment_testimonals/photobar_2.png);
    background-position: top center;
    background-size: 100%; }
    section.see-demo .hi-5 img {
      width: 100%; }

/*# sourceMappingURL=styles.css.map */
